<div class="container-fluid row align-items-center hero scroll_section">


    <div class="row" style="margin:60px auto;">
        <div class="col-5" style="margin:100px auto;">
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <h5>Modificar la novedad: {{id}}</h5>
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="input-group mt-4 mb-3">
                    <span class="input-group-text">Lugar</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="lugar" value="{{novedad.lugar}}">
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text">Fecha</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" name="fecha" value="{{novedad.fecha}}">
                </div>


                <div class="form-group mb-3">
                    <textarea class="form-control" placeholder="Ubicación" name="ubicacion"
                        style="height: 120px">{{novedad.ubicacion}}</textarea>

                </div>

                <div class="form-group">
                    <p>
                        <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                    </p>

                    <p>
                        <label> <input type="checkbox" name="img_delete" id="img_delete" value="1">¿Desea eliminar la
                            imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>

                </div>

                <button type=" submit" class="btn btn-primary">Modificar</button>
            </form>

            {{#if error}}
            <p class="my-2">{{message}}</p>
            {{/if}}

        </div>

    </div>

</div>